.header {
  background-color: #0d0d0d;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  margin-left: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 140%;
  color: #4ea8de;
}

.second {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 140%;
  color: #5e60ce;
}
