body {
  background-color: #1a1a1a;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px;
  width: 100%;
  max-width: 736px;
}

.container section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.titulo-criadas,
.titulo-concluidas {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.titulo-criadas {
  color: #4ea8de;
}

.titulo-concluidas {
  color: #8284fa;
}

body {
  background-color: #1a1a1a;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 64px auto 0;
  width: 100%;
  max-width: 736px;
}

.container section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.titulo-criadas,
.titulo-concluidas {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.titulo-criadas {
  color: #4ea8de;
}

.titulo-concluidas {
  color: #8284fa;
}

.contador-criadas,
.contador-concluidas {
  width: 24px;
  height: 19px;
  padding: 2px 8px;
  border-radius: 999px;
  gap: 10px;
  background-color: #333333;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contador-concluidas {
  width: 54px;
}

.empty {
  height: 244px;
  padding: 64px, 24px, 64px, 24px;
  border-radius: 8px;
  border: 1px, 0px, 0px, 0px;
  gap: 16px;
  border-top: 1px solid #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
  width: 100%;
  max-width: 736px;
}

.title,
.title-dois {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #808080;
}

.title-dois {
  font-weight: 400;
}
